<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHub Tutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A72DEC761C1D73CF0024A606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A72DEC8A1C1D73CF0024A606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A72DEC951C1D73CF0024A606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
